<nav class="wrapper">
    <menu class="flex flex-col gap-16 w-full sm:flex-row sm:gap-[10px] md:gap-8 ">
        <li class="w-full">
            <a href="#" class="group">
                <article class="relative bg-neutral-light rounded-lg h-[200px]">
                    <div class="absolute bottom-5 left-1/2 translate-x-[-50%] w-full">
                        <div class="flex flex-col gap-4 items-center">
                            <figure>
                                <twig:BasePicture
                                    small="./images/shared/large/image-category-thumbnail-headphones.png"
                                    medium="./images/shared/large/image-category-thumbnail-headphones.png"
                                    large="./images/shared/large/image-category-thumbnail-headphones.png"
                                    class="h-[160px] w-[160px]"
                                />
                            </figure>
                            <twig:BaseCardTitle size="xsmall">Headphones</twig:BaseCardTitle>
                            <twig:BaseButton theme="arrow">Shop</twig:BaseButton>
                        </div>
                    </div>
                </article>
            </a>
        </li>
        <li class="w-full">
            <a href="#" class="group">
                <article class="relative bg-neutral-light rounded-lg h-[200px]">
                    <div class="absolute bottom-5 left-1/2 translate-x-[-50%] w-full">
                        <div class="flex flex-col gap-4 items-center">
                            <figure>
                                <twig:BasePicture
                                    small="./images/shared/large/image-category-thumbnail-speakers.png"
                                    medium="./images/shared/large/image-category-thumbnail-speakers.png"
                                    large="./images/shared/large/image-category-thumbnail-speakers.png"
                                    class="h-[160px] w-[160px]"
                                />
                            </figure>
                            <twig:BaseCardTitle size="xsmall">Speakers</twig:BaseCardTitle>
                            <twig:BaseButton theme="arrow">Shop</twig:BaseButton>
                        </div>
                    </div>
                </article>
            </a>
        </li>
        <li class="w-full">
            <a href="#" class="group">
                <article class="relative bg-neutral-light rounded-lg h-[200px]">
                    <div class="absolute bottom-5 left-1/2 translate-x-[-50%] w-full">
                        <div class="flex flex-col gap-4 items-center">
                            <figure>
                                <twig:BasePicture
                                    small="./images/shared/large/image-category-thumbnail-earphones.png"
                                    medium="./images/shared/large/image-category-thumbnail-earphones.png"
                                    large="./images/shared/large/image-category-thumbnail-earphones.png"
                                    class="h-[140px] w-[160px]"

                                />
                            </figure>
                            <twig:BaseCardTitle size="xsmall">Headphones</twig:BaseCardTitle>
                            <twig:BaseButton theme="arrow">Shop</twig:BaseButton>
                        </div>
                    </div>
                </article>
            </a>
        </li>
    </menu>
</nav>
