{% props
    theme = 'primary',
    size = '',
    action = '',
    param = '',
%}

{% set baseButton = cva({
    base: 'flex justify-center items-center',
    variants: {
        theme: {
            primary: 'subtitle text-neutral-lightest bg-primary hover:bg-primary-light',
            darkest: 'subtitle text-neutral-lightest bg-neutral-darkest hover:bg-[#4C4C4C]',
            outline: 'subtitle bg-neutral-darkest/0 border border-neutral-darkest hover:bg-neutral-darkest hover:text-neutral-lightest',
            arrow: 'subtitle text-neutral-darkest/50 flex gap-3 items-center group-hover:text-primary',
            icon: 'fill-neutral-lightest hover:fill-primary',
            text: 'body text-neutral-darkest/50 hover:text-primary'
        },
        size: {
            small: 'h-12 w-40',
        }
    }
}) %}

<button
    class="{{ baseButton.apply({theme, size}, attributes.render('class')) | tailwind_merge }}"
    data-action="{{ action }}"
    data-live-event-param="{{ param }}"
>
    {% block content %}{% endblock %}
    {% if theme == "arrow" %}
        <twig:BaseIconArrow />
    {% endif %}
</button>
