<nav>
    <twig:BaseNavigationPrimaryMenu>
        <li>
            <twig:BaseLink href="#">Home</twig:BaseLink>
        </li>
        <li>
            <twig:BaseLink href="#">Headphones</twig:BaseLink>
        </li>
        <li>
            <twig:BaseLink href="#">Speakers</twig:BaseLink>
        </li>
        <li>
            <twig:BaseLink href="#">Earphones</twig:BaseLink>
        </li>
    </twig:BaseNavigationPrimaryMenu>
</nav>
