{% props
    theme = 'primary',
    size = '',
%}

{% set baseButton = cva({
    base: 'subtitle flex justify-center items-center',
    variants: {
        theme: {
            primary: 'text-neutral-lightest bg-primary hover:bg-primary-light',
            darkest: 'text-neutral-lightest bg-neutral-darkest hover:bg-[#4C4C4C]',
            arrow: 'text-neutral-darkest/50 flex gap-3 items-center group-hover:text-primary'
        },
        size: {
            small: 'h-12 w-40',
        }
    }
}) %}

<button class="{{ baseButton.apply({theme, size}, attributes.render('class')) | tailwind_merge }}">
    {% block content %}{% endblock %}
    {% if theme == "arrow" %}
        <twig:BaseIconArrow />
    {% endif %}
</button>
