<twig:BaseCard class="relative h-[600px] sm:h-[720px] rounded-t-none overflow-hidden bg-[#191919]">
    <figure class="absolute top-0 bottom-0 z-[-10] w-full max-w-[1110px] translate-x-[-50%] left-1/2 z-10">
        <twig:BasePicture
            small="./images/home/small/image-hero.jpg"
            medium="./images/home/medium/image-hero.jpg"
            large="./images/home/large/image-hero.jpg"
            class="object-cover h-full w-full"
            alt="A Picture of the XX99 Mark II Headphones in a dark background"
        />
    </figure>
    <div class="wrapper w-full absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-40%] flex flex-col gap-7 items-center sm:gap-10 md:items-start z-10">
        <div class="flex flex-col gap-6 items-center text-center md:text-start md:items-start">
            <twig:BaseCardHeader gap="smallUntilSm">
                <twig:BaseCardOverline
                    color="lightest"
                    opacity="half"
                >
                    New product
                </twig:BaseCardOverline>
                <twig:BaseCardTitle
                    color="lightest"
                    size="xxlarge"
                >
                    XX99 Mark II<br />
                    Headphones
                </twig:BaseCardTitle>
            </twig:BaseCardHeader>
            <twig:BaseCardDescription
                maxWidth="small"
                color="lightest"
                opacity="high"
            >
                Experience natural, lifelike audio and exceptional build quality made for the passionate music enthusiast.
            </twig:BaseCardDescription>
        </div>
        <twig:BaseLink
            href="{{ path("app_detail", {slug: "xx99-mark-two-headphones"}) }}"
            theme="primary"
            size="small"
        >
            See product
        </twig:BaseLink>
    </div>
</twig:BaseCard>
