<nav>
    <twig:BaseNavigationPrimaryMenu>
        <twig:BaseNavigationPrimaryMenuItem>
            <a href="#">Home</a>
        </twig:BaseNavigationPrimaryMenuItem>
        <twig:BaseNavigationPrimaryMenuItem>
            <a href="#">Headphones</a>
        </twig:BaseNavigationPrimaryMenuItem>
        <twig:BaseNavigationPrimaryMenuItem>
            <a href="#">Speakers</a>
        </twig:BaseNavigationPrimaryMenuItem>
        <twig:BaseNavigationPrimaryMenuItem>
            <a href="#">Earphones</a>
        </twig:BaseNavigationPrimaryMenuItem>
    </twig:BaseNavigationPrimaryMenu>
</nav>
