{% props feature = "" %}

<div class="flex flex-col gap-6 sm:gap-8 md:max-w-[635px] md:w-full">
    <twig:BaseCardTitle size="medium">Features</twig:BaseCardTitle>
    <twig:BaseCardDescription>
        {{ feature|nl2br }}
    </twig:BaseCardDescription>
</div>
