<button data-action="click->swappable#swap" class="font-bold text-[12px] tracking-[-0.21px] text-neutral-darkest/50 pt-3 border-t border-neutral-darkest/10 w-full text-center">
    {% block content %}{% endblock %}
</button>
