{% props
    theme = "darkest",
    position = "",
    decoration = "",
%}

{% set baseMenuContainer = cva({
    base: "sm:wrapper",
    variants: {
        theme: {
            darkest: "bg-neutral-darkest",
            transparent: "bg-neutral-darkest/0",
        },
        position: {
            absolute: "absolute z-50 left-0 right-0"
        },
    }
}) %}

{% set baseMenu = cva({
    base: "wrapper sm:px-0 py-8",
    variants: {
        decoration: {
            underline: "border-b border-neutral-lightest/10"
        }
    }
}) %}

<div class="{{ baseMenuContainer.apply({position, theme}, attributes.render('class')) | tailwind_merge }}">
    <div class="{{ baseMenu.apply({decoration}, attributes.render('class')) | tailwind_merge }}">
        <menu class="relative flex justify-between w-full sm:justify-start sm:gap-[42px] md:justify-between">
            <twig:BaseHeaderMenuItem class="md:hidden">
                <button>
                    <twig:BaseIconHamburger/>
                </button>
            </twig:BaseHeaderMenuItem>
            <twig:BaseHeaderMenuItem>
                <a>
                    <twig:BaseIconLogo/>
                </a>
            </twig:BaseHeaderMenuItem>
            <twig:BaseHeaderMenuItem class="hidden md:block">
                <twig:BaseNavigationPrimary/>
            </twig:BaseHeaderMenuItem>
            <twig:BaseHeaderMenuItem class="sm:absolute sm:right-0 md:static">
                <button>
                    <twig:BaseIconCart/>
                </button>
            </twig:BaseHeaderMenuItem>
        </menu>
    </div>
</div>