{% props
    size = 'heading-xlarge',
    color = 'darkest',
    opacity = 'half',
%}

{% set baseCardTitle = cva({
    base: 'body',
    variants: {
        size: {
            xxlarge: 'heading-xxlarge',
            xlarge: 'heading-xlarge',
            large: 'heading-large',
        },
        color: {
            darkest: 'text-neutral-darkest',
            lightest: 'text-neutral-lightest',
        },
    }
}) %}

<h1 class="{{ baseCardTitle.apply({size, color}, attributes.render('class')) | tailwind_merge }}">
    {% block content %}{% endblock %}
</h1>
