<nav>
    <twig:BaseNavigationPrimaryMenu>
        <li>
            <twig:BaseLink href="{{ path("app_home") }}">Home</twig:BaseLink>
        </li>
        <li>
            <twig:BaseLink href="{{ path("app_category", {category: "headphones"}) }}">Headphones</twig:BaseLink>
        </li>
        <li>
            <twig:BaseLink href="{{ path("app_category", {category: "speakers"}) }}">Speakers</twig:BaseLink>
        </li>
        <li>
            <twig:BaseLink href="{{ path("app_category", {category: "earphones"}) }}">Earphones</twig:BaseLink>
        </li>
    </twig:BaseNavigationPrimaryMenu>
</nav>
