{% props
    quantity = 0,
    isReadOnly = false,
%}

<article class="flex justify-between items-center">
	<div class="flex items-center gap-4">
		<figure>
			<twig:BasePicture
                small="./images/cart/image-xx99-mark-two-headphones.jpg"
                medium="./images/cart/image-xx99-mark-two-headphones.jpg"
                large="./images/cart/image-xx99-mark-two-headphones.jpg"
                class="h-16 w-16 rounded-lg"
            />
		</figure>
		<div>
			<p class="body font-bold uppercase">
				xx99 MK II
			</p>
			<p class="text-[14px] font-bold text-neutral-darkest/50">
				$ 899
			</p>
		</div>
	</div>
    {% if isReadOnly %}
        <p class="font-bold body text-neutral-darkest/50">x{{ quantity }}</p>
    {% else %}
        <twig:BaseCounter size="small" quantity="{{ quantity }}" />
    {% endif %}
</article>
