<twig:BaseDialogContent>
	<div class="flex flex-col gap-6">
		<twig:BaseHeaderMenu>
			<twig:block name="cart">
				<twig:BaseDialogTrigger theme="icon" action="click->dialog#close">
					<twig:BaseIconCart/>
				</twig:BaseDialogTrigger>
			</twig:block>
			<twig:block name="navigation">
				<twig:BaseDialogTrigger theme="icon" action="click->dialog#close">
					<twig:BaseIconHamburger/>
				</twig:BaseDialogTrigger>
			</twig:block>
		</twig:BaseHeaderMenu>
		<twig:CartDialogContentCard />
	</div>
</twig:BaseDialogContent>
