{% props isReadOnly = false, key = 0, quantity = 0 %}

<div>
	{% if isReadOnly %}
		<p class="font-bold body text-neutral-darkest/50">x{{ quantity }}</p>
	{% else %}
		<twig:BaseCounter size="small" value="{{ quantity }}" key="{{ key }}"/>
	{% endif %}
</div>
