<div class="flex flex-col gap-6">
	<ul class="flex flex-col gap-2">
		<li>
			<div class="flex justify-between">
				<twig:BaseCardDescription class="uppercase">Total</twig:BaseCardDescription>
				<p class="text-[18px] font-bold text-darkest">$ 5,396</p>
			</div>
		</li>
		<li>
			<div class="flex justify-between">
				<twig:BaseCardDescription class="uppercase">Shipping</twig:BaseCardDescription>
				<p class="text-[18px] font-bold text-darkest">$ 50</p>
			</div>
		</li>
		<li>
			<div class="flex justify-between">
				<twig:BaseCardDescription class="uppercase">VAT (included)</twig:BaseCardDescription>
				<p class="text-[18px] font-bold text-darkest">$ 1,079</p>
			</div>
		</li>
	</ul>
	<div class="flex justify-between">
		<twig:BaseCardDescription class="uppercase">Grand Total</twig:BaseCardDescription>
		<p class="text-[18px] font-bold text-primary">$ 5,396</p>
	</div>
</div>
