<div class="bg-neutral-darkest px-6 pt-4 pb-5 sm:w-[200px]">
	<div class="flex flex-col gap-2">
		<twig:BaseCardDescription color="lightest" class="uppercase">Grand Total</twig:BaseCardDescription>
		<p class="text-[18px] font-bold text-neutral-lightest">$ 5,396</p>
	</div>
</div>
