<twig:BaseDialogContent>
	<div class="wrapper flex justify-center items-center h-screen">
		<twig:BaseCard color="lightest" class="w-full p-8 flex flex-col gap-6 items-center sm:max-w-[540px]">
			<div class="flex flex-col gap-6 w-full">
				<header class="flex flex-col gap-6 sm:gap-8">
					<twig:BaseIconOrderConfirm/>
					<div class="flex flex-col gap-4">
						<twig:BaseCardTitle size="large">Thank you for your order</twig:BaseCardTitle>
						<twig:BaseCardDescription color="darkest">You will receive an email confirmation shortly.</twig:BaseCardDescription>
					</div>
				</header>
				<twig:BaseCard color="light" class="w-full flex flex-col overflow-hidden sm:flex-row sm:justify-between">
					<twig:ConfirmOrderDialogContentProductList />
					<twig:ConfirmOrderDialogContentTotal />
				</twig:BaseCard>
			</div>
			<twig:BaseButton size="full">Back to home</twig:BaseButton>
		</twig:BaseCard>
	</div>
</twig:BaseDialogContent>
