<dialog data-dialog-target="dialog">
    <div class="flex flex-col gap-6">
        <twig:BaseHeaderMenu>
            <twig:block name="cart">
                <twig:DialogCartTrigger action="click->dialog#close" />
            </twig:block>
            <twig:block name="navigation">
                <twig:DialogNavigationTrigger action="click->dialog#close" />
            </twig:block>
        </twig:BaseHeaderMenu>
        <div class="wrapper sm:flex sm:justify-end">
            <twig:BaseCard class="flex flex-col gap-8 px-7 py-8 w-full sm:max-w-[377px]">
                <header class="flex justify-between">
                    <twig:BaseCardTitle size="xsmall">Cart</twig:BaseCardTitle>
                    <twig:BaseButton theme="text">Remove all</twig:BaseButton>
                </header>
                <twig:CartProductList />
                <div class="flex flex-col gap-6">
                    <div class="flex justify-between">
                        <twig:BaseCardDescription class="uppercase">Total</twig:BaseCardDescription>
                        <p class="text-[18px] font-bold">$ 5,396</p>
                    </div>
                    <twig:BaseButton class="w-full h-[48px]">Checkout</twig:BaseButton>
                </div>
            </twig:BaseCard>
        </div>
    </div>
</dialog>
