<div class="flex flex-col gap-[120px]">
    <header>
        <twig:BaseHeaderMenu
            theme="transparent"
            position="absolute"
            decoration="underline"
        >
            <twig:block name="navigation">
                <twig:DialogNavigation />
            </twig:block>
            <twig:block name="cart">
                <twig:DialogCart />
            </twig:block>
        </twig:BaseHeaderMenu>
        <twig:SectionHero />
    </header>
    <main class="flex flex-col gap-[120px]">
        <twig:BaseNavigationCategory />
        <twig:SectionShowcase />
        <twig:SectionAbout />
    </main>
    <twig:LayoutFooter />
</div>
