<twig:BaseLayout>
    <header class="flex flex-col gap-4 mb-[-96px] sm:gap-8 md:gap-20 md:mb-[-64px]">
        <twig:BaseHeaderMenu>
            <twig:block name="navigation">
                <twig:NavigationDialog />
            </twig:block>
            <twig:block name="cart">
                <twig:CartDialog />
            </twig:block>
        </twig:BaseHeaderMenu>
        <div class="wrapper">
            <twig:BaseButton theme="text">Go Back</twig:BaseButton>
        </div>
    </header>
    <main>
        <div class="wrapper flex flex-col gap-8 md:flex-row md:justify-between">
            <twig:CheckoutForm />
            <twig:CheckoutSummary />
        </div>
    </main>
    <twig:BaseFooter />
</twig:BaseLayout>
