<twig:BaseLayout>
    <header>
        <twig:BaseHeaderMenu decoration="underline">
            <twig:block name="navigation">
                <twig:DialogNavigation />
            </twig:block>
            <twig:block name="cart">
                <twig:DialogCart />
            </twig:block>
        </twig:BaseHeaderMenu>
        <twig:BaseHeaderTitle category="{{ category }}" />
    </header>
    <main>
        <twig:BaseLayout>
            <twig:BaseListCategoryProduct products="{{ products }}" />
            <twig:BaseNavigationCategory />
            <twig:SectionAbout />
        </twig:BaseLayout>
    </main>
    <twig:LayoutFooter />
</twig:BaseLayout>
