<div class="flex flex-col gap-[120px]">
    <header>
        <twig:BaseHeaderMenu theme="transparent" />
        <twig:BaseHeaderTitle category="{{ this.category }}" />
    </header>
    <main class="flex flex-col gap-[120px]">
        <twig:BaseListCategoryProduct products="{{ this.products }}" />
        <twig:BaseNavigationCategory />
        <twig:SectionAbout />
    </main>
    <footer>
    </footer>
</div>
