{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="flex flex-col gap-[120px]">
        <header>
            <twig:BaseHeaderMenu theme="transparent" position="absolute" decoration="underline" />
            <twig:SectionHero />
        </header>
        <main class="flex flex-col gap-[120px]">
            <twig:BaseNavigationCategory />
            <twig:SectionShowcase />
            <twig:SectionAbout />
        </main>
        <footer>
        </footer>
    </div>
{% endblock %}
