<article class="wrapper flex flex-col gap-10 sm:gap-16 md:flex-row-reverse items-center md:justify-between">
    <figure class="w-full h-full md:max-w-[540px]">
        <twig:BasePicture
            small="./images/shared/small/image-best-gear.jpg"
            medium="./images/shared/medium/image-best-gear.jpg"
            large="./images/shared/large/image-best-gear.jpg"
            alt="A young man with a headphone on his head"
            class="object-cover h-full w-full rounded-lg"
        />
    </figure>
    <div class="flex flex-col gap-8 text-center md:text-start w-full md:max-w-[445px]">
        <header class="sm:px-10 md:px-0">
            <twig:BaseCardTitle size="xlarge">
                Bringing you the <em class="text-primary">best</em> audio gear
            </twig:BaseCardTitle>
        </header>
        <twig:BaseCardDescription>
            Located at the heart of New York City, Audiophile is the premier store for high end headphones,
            earphones, speakers, and audio accessories. We have a large showroom and luxury demonstration
            rooms available for you to browse and experience a wide range of our products. Stop by our store to meet
            some of the fantastic people who make Audiophile the best place to buy your portable audio equipment.
        </twig:BaseCardDescription>
    </div>
</article>
